{
  "openapi": "3.1.0",
  "info": {
    "title": "DePix API",
    "version": "0.7.0",
    "description": "Public API of DePix — PIX ⇄ DePix (Liquid) payments for merchants, integrators and AI agents.\n\n**Authentication**: Bearer API key (`sk_live_` production / `sk_test_` sandbox) created in the dashboard. Every operation lists its required key scope in `x-required-scope` (`merchant_read`, `merchant_write`, `wallet_read` or `wallet_write`); there is no scope hierarchy. The same endpoints also accept the first-party dashboard JWT.\n\n**Sandbox**: `sk_test_` keys exercise the full surface synthetically — deposits/withdrawals return `sandbox: true` payloads with nothing to pay and create no rows; checkouts/products are created in sandbox mode and completed via the simulate endpoints. Sandbox operations never fire deposit.*/withdraw.* webhooks.\n\n**Conventions**: all amounts are integer cents (BRL); every response carries an `X-Request-Id` header; errors use a dual envelope with a machine-readable `error.code` from a closed catalog; money-moving POSTs accept an optional `Idempotency-Key` header; 429/503 responses carry `Retry-After`. Status polling: 5–15 s intervals are recommended, stopping on the enum values marked `x-terminal: true`.\n\n**Scope of this document**: only the agent/integrator surface. JWT-only dashboard routes (auth/*, merchant create/get + rotate-webhook-secret, api-keys management, reports, uploads, webhook-logs, status, contact, …) are internal SPA contract and intentionally undocumented here. The merchant light-profile PATCH (`PATCH /api/merchants/me`, scope `merchant_write`) is the one merchant route that IS part of the agent surface.",
    "contact": {
      "name": "DePix",
      "url": "https://depixapp.com"
    }
  },
  "servers": [
    {
      "url": "https://api.depixapp.com",
      "description": "Canonical API base URL"
    },
    {
      "url": "https://depix-backend.vercel.app",
      "description": "legacy alias"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "pay",
      "description": "Deposits and withdrawals by API key (scopes `wallet_write` for money movement, `wallet_read` for status)."
    },
    {
      "name": "checkouts",
      "description": "Charging via checkouts (scopes `merchant_write`/`merchant_read`)."
    },
    {
      "name": "products",
      "description": "Reusable products (scopes `merchant_write`/`merchant_read`)."
    },
    {
      "name": "merchant",
      "description": "Merchant profile self-service — edit the light fields (scope `merchant_write`); read via GET /api/me (`merchant_read`)."
    },
    {
      "name": "public",
      "description": "Unauthenticated payer-side endpoints."
    },
    {
      "name": "meta",
      "description": "Service metadata."
    }
  ],
  "paths": {
    "/api/deposit": {
      "post": {
        "tags": [
          "pay"
        ],
        "summary": "Create a personal deposit (PIX → DePix)",
        "description": "Generates a PIX QR; when the owner pays it, DePix is delivered to `depixAddress`. Requires scope `wallet_write` on the API-key path. A provider business rejection returns HTTP 400 `validation_error` (the provider message is preserved in `response.errorMessage`) — not a 200. With a sk_test_ key the response is synthetic (`sandbox: true`, no provider call, no row). Track settlement by polling GET /api/deposits/{id} (5–15 s interval) and/or via the deposit.* webhooks. Supports Idempotency-Key.",
        "x-required-scope": "wallet_write",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DepositCreateRequest"
              },
              "examples": {
                "live": {
                  "value": {
                    "amountInCents": 5000,
                    "depixAddress": "lq1qqw508d6qejxtdg4y5r3zarvary0c5xw7k…",
                    "payer_tax_number": "52998224725"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "QR issued.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              },
              "Idempotency-Replayed": {
                "$ref": "#/components/headers/IdempotencyReplayed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DepositCreateResponse"
                },
                "examples": {
                  "live": {
                    "summary": "Live QR issued",
                    "value": {
                      "async": false,
                      "response": {
                        "qrCopyPaste": "00020126580014br.gov.bcb.pix0136…",
                        "qrImageUrl": "https://depix.eulen.app/qr/qr-id-456.png",
                        "id": "qr-id-456"
                      }
                    }
                  },
                  "sandbox": {
                    "summary": "Sandbox (sk_test_) — synthetic QR, nothing to pay",
                    "value": {
                      "async": false,
                      "response": {
                        "qrCopyPaste": "SANDBOX-DEPIX-TEST-MODE-DO-NOT-PAY-a1b2c3d4e5f60708",
                        "qrImageUrl": null,
                        "id": "sandbox_a1b2c3d4e5f60708",
                        "sandbox": true
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input, amount outside 500–300000, account limit, per-key spending limit, missing payer tax number, or upstream rejection (provider refused the request — passed through as validation_error, with the provider message in response.errorMessage).",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "amount_out_of_range": {
                    "value": {
                      "response": {
                        "errorMessage": "Valor deve ser entre R$ 5.00 e R$ 3000.00"
                      },
                      "error": {
                        "code": "amount_out_of_range",
                        "message": "Amount outside the accepted range for this endpoint.",
                        "request_id": "gru1::iad1::v9x4k-1751476800000-abc123",
                        "docs_url": "https://depixapp.com/docs/en/#errors",
                        "details": {
                          "min_cents": 500,
                          "max_cents": 300000
                        }
                      }
                    }
                  },
                  "key_limit_exceeded": {
                    "value": {
                      "response": {
                        "errorMessage": "Esta operação excede o limite por transação desta API key (R$ 100,00)."
                      },
                      "error": {
                        "code": "key_limit_exceeded",
                        "message": "This operation exceeds a spending limit set on this API key.",
                        "request_id": "gru1::iad1::v9x4k-1751476800000-abc123",
                        "docs_url": "https://depixapp.com/docs/en/#errors",
                        "details": {
                          "limit": "per_tx",
                          "limit_cents": 10000,
                          "used_cents": 0
                        }
                      }
                    }
                  },
                  "upstream_rejected": {
                    "value": {
                      "response": {
                        "errorMessage": "Valor não permitido para este usuário."
                      },
                      "error": {
                        "code": "validation_error",
                        "message": "Invalid request. Check the fields and try again.",
                        "request_id": "gru1::iad1::v9x4k-1751476800000-abc123",
                        "docs_url": "https://depixapp.com/docs/en/#errors"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid credentials. `invalid_api_key` for a failed sk_* lookup (revoked/expired/unknown); `invalid_token` for a bad or missing JWT/Authorization header.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "invalid_api_key": {
                    "value": {
                      "response": {
                        "errorMessage": "API key inválida, revogada ou expirada."
                      },
                      "error": {
                        "code": "invalid_api_key",
                        "message": "Invalid, revoked or expired API key.",
                        "request_id": "gru1::iad1::v9x4k-1751476800000-abc123",
                        "docs_url": "https://depixapp.com/docs/en/#errors"
                      }
                    }
                  },
                  "invalid_token": {
                    "value": {
                      "response": {
                        "errorMessage": "Token inválido ou ausente. Faça login para continuar."
                      },
                      "error": {
                        "code": "invalid_token",
                        "message": "Invalid or expired token, or missing Authorization header.",
                        "request_id": "gru1::iad1::v9x4k-1751476800000-abc123",
                        "docs_url": "https://depixapp.com/docs/en/#errors"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "The API key lacks the `wallet_write` scope required by this operation. May also be `account_blocked`, or an operation-specific 403 — see the error catalog.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "insufficient_scope": {
                    "value": {
                      "response": {
                        "errorMessage": "Esta API key não tem permissão para esta operação."
                      },
                      "error": {
                        "code": "insufficient_scope",
                        "message": "This API key does not have the scope required for this operation.",
                        "request_id": "gru1::iad1::v9x4k-1751476800000-abc123",
                        "docs_url": "https://depixapp.com/docs/en/#errors",
                        "details": {
                          "required_scope": "wallet_write"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "A request with the same Idempotency-Key is still in flight — retry after `retry_after` seconds.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              },
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "idempotency_in_flight": {
                    "value": {
                      "response": {
                        "errorMessage": "Uma requisição com esta Idempotency-Key ainda está em processamento."
                      },
                      "error": {
                        "code": "idempotency_in_flight",
                        "message": "A request with this Idempotency-Key is still being processed. Retry shortly.",
                        "request_id": "gru1::iad1::v9x4k-1751476800000-abc123",
                        "retry_after": 5,
                        "docs_url": "https://depixapp.com/docs/en/#errors"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "The Idempotency-Key was already used with a different request body (strict byte-level comparison of the parsed body).",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "idempotency_key_reuse": {
                    "value": {
                      "response": {
                        "errorMessage": "Esta Idempotency-Key já foi usada com um corpo diferente."
                      },
                      "error": {
                        "code": "idempotency_key_reuse",
                        "message": "This Idempotency-Key was already used with a different request body.",
                        "request_id": "gru1::iad1::v9x4k-1751476800000-abc123",
                        "docs_url": "https://depixapp.com/docs/en/#errors"
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limited, or too many QRs for the same payer CPF/CNPJ (`payer_velocity_limit`: max 2 per sliding 30-minute window, deposits + checkouts combined). Retry after `retry_after` seconds (also in the Retry-After header).",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              },
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "payer_velocity_limit": {
                    "value": {
                      "response": {
                        "errorMessage": "Muitas transações para este CPF/CNPJ em pouco tempo. Aguarde 18 minutos e tente novamente."
                      },
                      "error": {
                        "code": "payer_velocity_limit",
                        "message": "Too many deposits for this payer CPF/CNPJ in a short period. Wait and try again.",
                        "request_id": "gru1::iad1::v9x4k-1751476800000-abc123",
                        "retry_after": 1080,
                        "docs_url": "https://depixapp.com/docs/en/#errors",
                        "details": {
                          "window_minutes": 30,
                          "max_per_window": 2
                        }
                      }
                    }
                  },
                  "rate_limited": {
                    "value": {
                      "response": {
                        "errorMessage": "Muitas requisições. Tente novamente em 1 minuto."
                      },
                      "error": {
                        "code": "rate_limited",
                        "message": "Too many requests for this scope.",
                        "request_id": "gru1::iad1::v9x4k-1751476800000-abc123",
                        "retry_after": 37,
                        "docs_url": "https://depixapp.com/docs/en/#errors",
                        "details": {
                          "scope": "deposit"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/deposits/{id}": {
      "get": {
        "tags": [
          "pay"
        ],
        "summary": "Read deposit status",
        "description": "Pay-side status read (ownership enforced — foreign ids are 404). Poll every 5–15 s until a terminal status; `depix_sent` is terminal success. With sk_test_, sandbox_* ids return a fixed synthetic terminal state; any other id is 404 (test keys never read live rows).",
        "x-required-scope": "wallet_read",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Deposit id returned by POST /api/deposit (sandbox_* in test mode).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deposit status.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DepositStatusResponse"
                },
                "examples": {
                  "live": {
                    "summary": "Live row",
                    "value": {
                      "id": "qr-id-456",
                      "type": "deposit",
                      "amount_cents": 5000,
                      "status": "depix_sent",
                      "created_at": "2026-07-01 12:00:00",
                      "updated_at": "2026-07-01 12:34:56",
                      "rejection_reasons": []
                    }
                  },
                  "sandbox": {
                    "summary": "Sandbox synthetic (fixed)",
                    "value": {
                      "id": "sandbox_3uw_a1b2c3d4e5f60708",
                      "type": "deposit",
                      "amount_cents": 5000,
                      "status": "depix_sent",
                      "created_at": "2026-01-01 00:00:00",
                      "updated_at": "2026-01-01 00:00:00",
                      "sandbox": true,
                      "rejection_reasons": []
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid credentials. `invalid_api_key` for a failed sk_* lookup (revoked/expired/unknown); `invalid_token` for a bad or missing JWT/Authorization header.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "invalid_api_key": {
                    "value": {
                      "response": {
                        "errorMessage": "API key inválida, revogada ou expirada."
                      },
                      "error": {
                        "code": "invalid_api_key",
                        "message": "Invalid, revoked or expired API key.",
                        "request_id": "gru1::iad1::v9x4k-1751476800000-abc123",
                        "docs_url": "https://depixapp.com/docs/en/#errors"
                      }
                    }
                  },
                  "invalid_token": {
                    "value": {
                      "response": {
                        "errorMessage": "Token inválido ou ausente. Faça login para continuar."
                      },
                      "error": {
                        "code": "invalid_token",
                        "message": "Invalid or expired token, or missing Authorization header.",
                        "request_id": "gru1::iad1::v9x4k-1751476800000-abc123",
                        "docs_url": "https://depixapp.com/docs/en/#errors"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "The API key lacks the `wallet_read` scope required by this operation. May also be `account_blocked`, or an operation-specific 403 — see the error catalog.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "insufficient_scope": {
                    "value": {
                      "response": {
                        "errorMessage": "Esta API key não tem permissão para esta operação."
                      },
                      "error": {
                        "code": "insufficient_scope",
                        "message": "This API key does not have the scope required for this operation.",
                        "request_id": "gru1::iad1::v9x4k-1751476800000-abc123",
                        "docs_url": "https://depixapp.com/docs/en/#errors",
                        "details": {
                          "required_scope": "wallet_read"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Deposit not found — includes rows owned by another account (ownership is never disclosed).",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "not_found": {
                    "value": {
                      "response": {
                        "errorMessage": "Deposit não encontrado."
                      },
                      "error": {
                        "code": "not_found",
                        "message": "Resource not found.",
                        "request_id": "gru1::iad1::v9x4k-1751476800000-abc123",
                        "docs_url": "https://depixapp.com/docs/en/#errors"
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limited (per-IP, per-key or per-merchant window). Retry after `retry_after` seconds (also in the Retry-After header).",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              },
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "rate_limited": {
                    "value": {
                      "response": {
                        "errorMessage": "Muitas requisições. Tente novamente em 1 minuto."
                      },
                      "error": {
                        "code": "rate_limited",
                        "message": "Too many requests for this scope.",
                        "request_id": "gru1::iad1::v9x4k-1751476800000-abc123",
                        "retry_after": 37,
                        "docs_url": "https://depixapp.com/docs/en/#errors",
                        "details": {
                          "scope": "deposit"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/withdraw": {
      "post": {
        "tags": [
          "pay"
        ],
        "summary": "Create a withdrawal (DePix → PIX)",
        "description": "Quotes a withdrawal: the response contains the Liquid address to send DePix to. After broadcasting, track via GET /api/withdrawals/{id} and/or withdraw.* webhooks. Requires scope `wallet_write` on the API-key path. **Platform fee (API-key path)**: the response includes `fee_cents` + `fee_address` — the transaction MUST also pay `fee_cents` to `fee_address` as an explicit (unblinded) DePix output in the SAME transaction as the provider output. The fee is verified server-side against the provider-reported settlement transaction; sending the withdrawal without it results in a failed withdrawal and lost funds. sk_test_ returns a synthetic quote (`sandbox: true`, fixed 2% rate, deterministic fee fields, no provider call, no row). Supports Idempotency-Key.",
        "x-required-scope": "wallet_write",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WithdrawCreateRequest"
              },
              "examples": {
                "you_send": {
                  "summary": "\"You send\" mode",
                  "value": {
                    "pixKey": "someone@example.com",
                    "depositAmountInCents": 10000,
                    "taxNumber": "52998224725"
                  }
                },
                "you_receive": {
                  "summary": "\"You receive\" mode",
                  "value": {
                    "pixKey": "someone@example.com",
                    "payoutAmountInCents": 9800,
                    "taxNumber": "52998224725"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Withdrawal quote.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              },
              "Idempotency-Replayed": {
                "$ref": "#/components/headers/IdempotencyReplayed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WithdrawCreateResponse"
                },
                "examples": {
                  "live": {
                    "summary": "Live quote (JWT — no platform fee fields)",
                    "value": {
                      "response": {
                        "withdrawalId": "wd-123",
                        "depositAddress": "lq1qq2v9wxkyz…",
                        "depositAmountInCents": 10000,
                        "payoutAmountInCents": 9800
                      }
                    }
                  },
                  "api_key_fee": {
                    "summary": "API key — mandatory platform fee (fee_cents/fee_address)",
                    "value": {
                      "response": {
                        "withdrawalId": "wd-124",
                        "depositAddress": "lq1qq2v9wxkyz…",
                        "depositAmountInCents": 9900,
                        "payoutAmountInCents": 9700,
                        "totalDepositAmountInCents": 10000,
                        "split": {
                          "address": "ex1qfee…",
                          "amountCentavos": 100
                        },
                        "fee_cents": 100,
                        "fee_address": "ex1qfee…"
                      }
                    }
                  },
                  "split": {
                    "summary": "Integrated wallet with split fee (JWT)",
                    "value": {
                      "response": {
                        "withdrawalId": "wd-125",
                        "depositAddress": "lq1qq2v9wxkyz…",
                        "depositAmountInCents": 9900,
                        "payoutAmountInCents": 9700,
                        "totalDepositAmountInCents": 10000,
                        "split": {
                          "address": "lq1qqfee…",
                          "amountCentavos": 100
                        }
                      }
                    }
                  },
                  "sandbox": {
                    "summary": "Sandbox (sk_test_) — synthetic quote, do not pay",
                    "value": {
                      "response": {
                        "withdrawalId": "sandbox_0011223344556677",
                        "depositAddress": "SANDBOX-LIQUID-ADDRESS-DO-NOT-PAY",
                        "depositAmountInCents": 10000,
                        "payoutAmountInCents": 9800,
                        "fee_cents": 100,
                        "fee_address": "SANDBOX-LIQUID-FEE-ADDRESS-DO-NOT-PAY",
                        "sandbox": true
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input, amount outside the mode's bounds, per-key spending limit, missing tax number, or upstream rejection (invalid PIX key etc. — passed through as validation_error).",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "amount_out_of_range": {
                    "value": {
                      "response": {
                        "errorMessage": "Valor deve ser entre R$ 5.00 e R$ 6000.00"
                      },
                      "error": {
                        "code": "amount_out_of_range",
                        "message": "Amount outside the accepted range for this endpoint.",
                        "request_id": "gru1::iad1::v9x4k-1751476800000-abc123",
                        "docs_url": "https://depixapp.com/docs/en/#errors",
                        "details": {
                          "min_cents": 500,
                          "max_cents": 600000
                        }
                      }
                    }
                  },
                  "tax_number_required": {
                    "value": {
                      "response": {
                        "errorMessage": "Informe o CPF ou CNPJ do titular da chave PIX."
                      },
                      "error": {
                        "code": "tax_number_required",
                        "message": "The payer's CPF/CNPJ (payer_tax_number) is required.",
                        "request_id": "gru1::iad1::v9x4k-1751476800000-abc123",
                        "docs_url": "https://depixapp.com/docs/en/#errors"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid credentials. `invalid_api_key` for a failed sk_* lookup (revoked/expired/unknown); `invalid_token` for a bad or missing JWT/Authorization header.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "invalid_api_key": {
                    "value": {
                      "response": {
                        "errorMessage": "API key inválida, revogada ou expirada."
                      },
                      "error": {
                        "code": "invalid_api_key",
                        "message": "Invalid, revoked or expired API key.",
                        "request_id": "gru1::iad1::v9x4k-1751476800000-abc123",
                        "docs_url": "https://depixapp.com/docs/en/#errors"
                      }
                    }
                  },
                  "invalid_token": {
                    "value": {
                      "response": {
                        "errorMessage": "Token inválido ou ausente. Faça login para continuar."
                      },
                      "error": {
                        "code": "invalid_token",
                        "message": "Invalid or expired token, or missing Authorization header.",
                        "request_id": "gru1::iad1::v9x4k-1751476800000-abc123",
                        "docs_url": "https://depixapp.com/docs/en/#errors"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Missing `wallet_write` scope, withdrawals disabled (kill switch), external wallets disabled, blocked account, or missing WhatsApp verification.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "insufficient_scope": {
                    "value": {
                      "response": {
                        "errorMessage": "Esta API key não tem permissão para esta operação."
                      },
                      "error": {
                        "code": "insufficient_scope",
                        "message": "This API key does not have the scope required for this operation.",
                        "request_id": "gru1::iad1::v9x4k-1751476800000-abc123",
                        "docs_url": "https://depixapp.com/docs/en/#errors",
                        "details": {
                          "required_scope": "wallet_write"
                        }
                      }
                    }
                  },
                  "withdraw_disabled": {
                    "value": {
                      "response": {
                        "errorMessage": "O saque está temporariamente indisponível. Tente novamente mais tarde."
                      },
                      "error": {
                        "code": "withdraw_disabled",
                        "message": "Withdrawals are temporarily disabled.",
                        "request_id": "gru1::iad1::v9x4k-1751476800000-abc123",
                        "docs_url": "https://depixapp.com/docs/en/#errors"
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "A request with the same Idempotency-Key is still in flight — retry after `retry_after` seconds.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              },
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "idempotency_in_flight": {
                    "value": {
                      "response": {
                        "errorMessage": "Uma requisição com esta Idempotency-Key ainda está em processamento."
                      },
                      "error": {
                        "code": "idempotency_in_flight",
                        "message": "A request with this Idempotency-Key is still being processed. Retry shortly.",
                        "request_id": "gru1::iad1::v9x4k-1751476800000-abc123",
                        "retry_after": 5,
                        "docs_url": "https://depixapp.com/docs/en/#errors"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "The Idempotency-Key was already used with a different request body (strict byte-level comparison of the parsed body).",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "idempotency_key_reuse": {
                    "value": {
                      "response": {
                        "errorMessage": "Esta Idempotency-Key já foi usada com um corpo diferente."
                      },
                      "error": {
                        "code": "idempotency_key_reuse",
                        "message": "This Idempotency-Key was already used with a different request body.",
                        "request_id": "gru1::iad1::v9x4k-1751476800000-abc123",
                        "docs_url": "https://depixapp.com/docs/en/#errors"
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limited (per-IP, per-key or per-merchant window). Retry after `retry_after` seconds (also in the Retry-After header).",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              },
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "rate_limited": {
                    "value": {
                      "response": {
                        "errorMessage": "Muitas requisições. Tente novamente em 1 minuto."
                      },
                      "error": {
                        "code": "rate_limited",
                        "message": "Too many requests for this scope.",
                        "request_id": "gru1::iad1::v9x4k-1751476800000-abc123",
                        "retry_after": 37,
                        "docs_url": "https://depixapp.com/docs/en/#errors",
                        "details": {
                          "scope": "deposit"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/withdrawals/{id}": {
      "get": {
        "tags": [
          "pay"
        ],
        "summary": "Read withdrawal status",
        "description": "Pay-side status read (ownership enforced — foreign ids are 404). Poll every 5–15 s until a terminal status; `sent` is terminal success. With sk_test_, sandbox_* ids return the fixed synthetic sandbox-only state `confirmed`; any other id is 404.",
        "x-required-scope": "wallet_read",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Withdrawal id returned by POST /api/withdraw (sandbox_* in test mode).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Withdrawal status.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WithdrawalStatusResponse"
                },
                "examples": {
                  "live": {
                    "summary": "Live row",
                    "value": {
                      "id": "wd-123",
                      "type": "withdraw",
                      "amount_cents": 10000,
                      "status": "sent",
                      "created_at": "2026-07-01 10:00:00",
                      "updated_at": "2026-07-01 10:00:00",
                      "liquid_txid": "abababababababababababababababababababababababababababababababab"
                    }
                  },
                  "sandbox": {
                    "summary": "Sandbox synthetic (fixed)",
                    "value": {
                      "id": "sandbox_7ps_0011223344556677",
                      "type": "withdraw",
                      "amount_cents": 10000,
                      "status": "confirmed",
                      "created_at": "2026-01-01 00:00:00",
                      "updated_at": "2026-01-01 00:00:00",
                      "sandbox": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid credentials. `invalid_api_key` for a failed sk_* lookup (revoked/expired/unknown); `invalid_token` for a bad or missing JWT/Authorization header.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "invalid_api_key": {
                    "value": {
                      "response": {
                        "errorMessage": "API key inválida, revogada ou expirada."
                      },
                      "error": {
                        "code": "invalid_api_key",
                        "message": "Invalid, revoked or expired API key.",
                        "request_id": "gru1::iad1::v9x4k-1751476800000-abc123",
                        "docs_url": "https://depixapp.com/docs/en/#errors"
                      }
                    }
                  },
                  "invalid_token": {
                    "value": {
                      "response": {
                        "errorMessage": "Token inválido ou ausente. Faça login para continuar."
                      },
                      "error": {
                        "code": "invalid_token",
                        "message": "Invalid or expired token, or missing Authorization header.",
                        "request_id": "gru1::iad1::v9x4k-1751476800000-abc123",
                        "docs_url": "https://depixapp.com/docs/en/#errors"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "The API key lacks the `wallet_read` scope required by this operation. May also be `account_blocked`, or an operation-specific 403 — see the error catalog.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "insufficient_scope": {
                    "value": {
                      "response": {
                        "errorMessage": "Esta API key não tem permissão para esta operação."
                      },
                      "error": {
                        "code": "insufficient_scope",
                        "message": "This API key does not have the scope required for this operation.",
                        "request_id": "gru1::iad1::v9x4k-1751476800000-abc123",
                        "docs_url": "https://depixapp.com/docs/en/#errors",
                        "details": {
                          "required_scope": "wallet_read"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Withdrawal not found — includes rows owned by another account (ownership is never disclosed).",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "not_found": {
                    "value": {
                      "response": {
                        "errorMessage": "Withdrawal não encontrado."
                      },
                      "error": {
                        "code": "not_found",
                        "message": "Resource not found.",
                        "request_id": "gru1::iad1::v9x4k-1751476800000-abc123",
                        "docs_url": "https://depixapp.com/docs/en/#errors"
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limited (per-IP, per-key or per-merchant window). Retry after `retry_after` seconds (also in the Retry-After header).",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              },
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "rate_limited": {
                    "value": {
                      "response": {
                        "errorMessage": "Muitas requisições. Tente novamente em 1 minuto."
                      },
                      "error": {
                        "code": "rate_limited",
                        "message": "Too many requests for this scope.",
                        "request_id": "gru1::iad1::v9x4k-1751476800000-abc123",
                        "retry_after": 37,
                        "docs_url": "https://depixapp.com/docs/en/#errors",
                        "details": {
                          "scope": "deposit"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/checkouts": {
      "post": {
        "tags": [
          "checkouts"
        ],
        "summary": "Create a checkout",
        "description": "Creates a charge with a PIX QR and hosted payment page. Requires scope `merchant_write` on the API-key path; a merchant profile is required. sk_test_ creates a sandbox checkout (non-payable placeholder QR — complete it via simulate-payment). Track via GET /api/checkouts/{id} polling or checkout.* webhooks. Supports Idempotency-Key.",
        "x-required-scope": "merchant_write",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckoutCreateRequest"
              },
              "examples": {
                "minimal": {
                  "value": {
                    "amount": 1500,
                    "payer_tax_number": "52998224725"
                  }
                },
                "full": {
                  "value": {
                    "amount": 1500,
                    "description": "Pedido #123",
                    "callback_url": "https://store.example.com/webhooks/depix",
                    "redirect_url": "https://store.example.com/obrigado",
                    "metadata": {
                      "order_id": "123"
                    },
                    "expires_in": 900,
                    "payer_tax_number": "52998224725"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Checkout created.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              },
              "Idempotency-Replayed": {
                "$ref": "#/components/headers/IdempotencyReplayed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutCreateResponse"
                },
                "examples": {
                  "created": {
                    "value": {
                      "id": "chk_abc123",
                      "status": "pending",
                      "amount": 1500,
                      "description": "Pedido #123",
                      "image_url": null,
                      "expires_at": "2026-07-01 12:20:00",
                      "is_live": true,
                      "payment_url": "https://pay.depixapp.com/chk_abc123",
                      "pix": {
                        "qr_code": "00020126580014br.gov.bcb.pix…"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation failure — the legacy per-field `response.errors[]` sibling is preserved.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "validation_error": {
                    "value": {
                      "response": {
                        "errorMessage": "Dados inválidos.",
                        "errors": [
                          {
                            "field": "amount",
                            "message": "Obrigatório. Valor em centavos (integer)."
                          }
                        ]
                      },
                      "error": {
                        "code": "validation_error",
                        "message": "Invalid request. Check the fields and try again.",
                        "request_id": "gru1::iad1::v9x4k-1751476800000-abc123",
                        "docs_url": "https://depixapp.com/docs/en/#errors",
                        "details": {
                          "field": "amount"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid credentials. `invalid_api_key` for a failed sk_* lookup (revoked/expired/unknown); `invalid_token` for a bad or missing JWT/Authorization header.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "invalid_api_key": {
                    "value": {
                      "response": {
                        "errorMessage": "API key inválida, revogada ou expirada."
                      },
                      "error": {
                        "code": "invalid_api_key",
                        "message": "Invalid, revoked or expired API key.",
                        "request_id": "gru1::iad1::v9x4k-1751476800000-abc123",
                        "docs_url": "https://depixapp.com/docs/en/#errors"
                      }
                    }
                  },
                  "invalid_token": {
                    "value": {
                      "response": {
                        "errorMessage": "Token inválido ou ausente. Faça login para continuar."
                      },
                      "error": {
                        "code": "invalid_token",
                        "message": "Invalid or expired token, or missing Authorization header.",
                        "request_id": "gru1::iad1::v9x4k-1751476800000-abc123",
                        "docs_url": "https://depixapp.com/docs/en/#errors"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "The authenticated account has no active merchant profile.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "merchant_required": {
                    "value": {
                      "response": {
                        "errorMessage": "Você não possui conta de lojista."
                      },
                      "error": {
                        "code": "merchant_required",
                        "message": "A merchant profile is required for this operation.",
                        "request_id": "gru1::iad1::v9x4k-1751476800000-abc123",
                        "docs_url": "https://depixapp.com/docs/en/#errors"
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "A request with the same Idempotency-Key is still in flight — retry after `retry_after` seconds.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              },
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "idempotency_in_flight": {
                    "value": {
                      "response": {
                        "errorMessage": "Uma requisição com esta Idempotency-Key ainda está em processamento."
                      },
                      "error": {
                        "code": "idempotency_in_flight",
                        "message": "A request with this Idempotency-Key is still being processed. Retry shortly.",
                        "request_id": "gru1::iad1::v9x4k-1751476800000-abc123",
                        "retry_after": 5,
                        "docs_url": "https://depixapp.com/docs/en/#errors"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "The Idempotency-Key was already used with a different request body (strict byte-level comparison of the parsed body).",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "idempotency_key_reuse": {
                    "value": {
                      "response": {
                        "errorMessage": "Esta Idempotency-Key já foi usada com um corpo diferente."
                      },
                      "error": {
                        "code": "idempotency_key_reuse",
                        "message": "This Idempotency-Key was already used with a different request body.",
                        "request_id": "gru1::iad1::v9x4k-1751476800000-abc123",
                        "docs_url": "https://depixapp.com/docs/en/#errors"
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limited, or too many QRs for the same payer CPF/CNPJ (`payer_velocity_limit`: max 2 per sliding 30-minute window, deposits + checkouts combined). Retry after `retry_after` seconds (also in the Retry-After header).",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              },
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "payer_velocity_limit": {
                    "value": {
                      "response": {
                        "errorMessage": "Muitas transações para este CPF/CNPJ em pouco tempo. Aguarde 18 minutos e tente novamente."
                      },
                      "error": {
                        "code": "payer_velocity_limit",
                        "message": "Too many deposits for this payer CPF/CNPJ in a short period. Wait and try again.",
                        "request_id": "gru1::iad1::v9x4k-1751476800000-abc123",
                        "retry_after": 1080,
                        "docs_url": "https://depixapp.com/docs/en/#errors",
                        "details": {
                          "window_minutes": 30,
                          "max_per_window": 2
                        }
                      }
                    }
                  },
                  "rate_limited": {
                    "value": {
                      "response": {
                        "errorMessage": "Muitas requisições. Tente novamente em 1 minuto."
                      },
                      "error": {
                        "code": "rate_limited",
                        "message": "Too many requests for this scope.",
                        "request_id": "gru1::iad1::v9x4k-1751476800000-abc123",
                        "retry_after": 37,
                        "docs_url": "https://depixapp.com/docs/en/#errors",
                        "details": {
                          "scope": "deposit"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "checkouts"
        ],
        "summary": "List checkouts",
        "description": "Paginated checkout list for the authenticated merchant, filtered to the key's mode (sk_test_ sees only sandbox checkouts). Requires scope `merchant_read` on the API-key path.",
        "x-required-scope": "merchant_read",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Filter by status.",
            "schema": {
              "$ref": "#/components/schemas/CheckoutStatus"
            }
          },
          {
            "name": "product_id",
            "in": "query",
            "required": false,
            "description": "Filter by originating product id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "Filter: created_at >= this timestamp (UTC).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "Filter: created_at <= this timestamp (UTC).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Substring search over id and description.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Page size (1–100, default 50).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Pagination offset (default 0).",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Checkout list.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutListResponse"
                },
                "examples": {
                  "list": {
                    "value": {
                      "checkouts": [
                        {
                          "id": "chk_abc123",
                          "status": "completed",
                          "amount": 1500,
                          "description": "Pedido #123",
                          "created_at": "2026-07-01 12:00:00",
                          "expires_at": "2026-07-01 12:20:00",
                          "is_live": 1,
                          "processing_at": "2026-07-01 12:01:00",
                          "approved_at": null,
                          "metadata": "{\"order_id\":\"123\"}",
                          "product_name": null,
                          "rejection_reasons": []
                        }
                      ],
                      "stats": {
                        "total": 1,
                        "pending": 0,
                        "completed": 1,
                        "completed_amount": 1500
                      },
                      "limit": 50,
                      "offset": 0
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid credentials. `invalid_api_key` for a failed sk_* lookup (revoked/expired/unknown); `invalid_token` for a bad or missing JWT/Authorization header.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "invalid_api_key": {
                    "value": {
                      "response": {
                        "errorMessage": "API key inválida, revogada ou expirada."
                      },
                      "error": {
                        "code": "invalid_api_key",
                        "message": "Invalid, revoked or expired API key.",
                        "request_id": "gru1::iad1::v9x4k-1751476800000-abc123",
                        "docs_url": "https://depixapp.com/docs/en/#errors"
                      }
                    }
                  },
                  "invalid_token": {
                    "value": {
                      "response": {
                        "errorMessage": "Token inválido ou ausente. Faça login para continuar."
                      },
                      "error": {
                        "code": "invalid_token",
                        "message": "Invalid or expired token, or missing Authorization header.",
                        "request_id": "gru1::iad1::v9x4k-1751476800000-abc123",
                        "docs_url": "https://depixapp.com/docs/en/#errors"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "The API key lacks the `merchant_read` scope required by this operation. May also be `account_blocked`, or an operation-specific 403 — see the error catalog.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "insufficient_scope": {
                    "value": {
                      "response": {
                        "errorMessage": "Esta API key não tem permissão para esta operação."
                      },
                      "error": {
                        "code": "insufficient_scope",
                        "message": "This API key does not have the scope required for this operation.",
                        "request_id": "gru1::iad1::v9x4k-1751476800000-abc123",
                        "docs_url": "https://depixapp.com/docs/en/#errors",
                        "details": {
                          "required_scope": "merchant_read"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. Even without an endpoint-specific limit, API-key calls are bounded by the shared per-merchant budget (`merchant_rate_limited`, default 30 req/min across all endpoints) and by the key's own rate limit when configured (`rate_limited`). Retry after `retry_after` seconds (also in the Retry-After header).",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              },
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "merchant_rate_limited": {
                    "value": {
                      "response": {
                        "errorMessage": "Rate limit do merchant excedido."
                      },
                      "error": {
                        "code": "merchant_rate_limited",
                        "message": "Merchant rate limit exceeded.",
                        "request_id": "gru1::iad1::v9x4k-1751476800000-abc123",
                        "retry_after": 22,
                        "docs_url": "https://depixapp.com/docs/en/#errors"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/checkouts/{id}": {
      "get": {
        "tags": [
          "checkouts"
        ],
        "summary": "Get a checkout",
        "description": "Full checkout detail (owner view). `pix_payload` is present only while pending. Poll until a terminal status (see the status enum) or subscribe to checkout.* webhooks. Requires scope `merchant_read` on the API-key path.",
        "x-required-scope": "merchant_read",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Checkout id (chk_*).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Checkout detail.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutGetResponse"
                },
                "examples": {
                  "completed": {
                    "value": {
                      "checkout": {
                        "id": "chk_abc123",
                        "status": "completed",
                        "amount": 1500,
                        "description": "Pedido #123",
                        "image_url": null,
                        "callback_url": "https://store.example.com/webhooks/depix",
                        "redirect_url": null,
                        "metadata": {
                          "order_id": "123"
                        },
                        "expires_at": "2026-07-01 12:20:00",
                        "is_live": 1,
                        "created_at": "2026-07-01 12:00:00",
                        "processing_at": "2026-07-01 12:01:00",
                        "approved_at": null,
                        "completed_at": "2026-07-01 12:02:00",
                        "cancelled_at": null,
                        "blockchain_tx_id": "cdcdcdcdcdcdcdcdcdcdcdcdcdcdcdcdcdcdcdcdcdcdcdcdcdcdcdcdcdcdcdcd",
                        "rejection_reasons": []
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid credentials. `invalid_api_key` for a failed sk_* lookup (revoked/expired/unknown); `invalid_token` for a bad or missing JWT/Authorization header.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "invalid_api_key": {
                    "value": {
                      "response": {
                        "errorMessage": "API key inválida, revogada ou expirada."
                      },
                      "error": {
                        "code": "invalid_api_key",
                        "message": "Invalid, revoked or expired API key.",
                        "request_id": "gru1::iad1::v9x4k-1751476800000-abc123",
                        "docs_url": "https://depixapp.com/docs/en/#errors"
                      }
                    }
                  },
                  "invalid_token": {
                    "value": {
                      "response": {
                        "errorMessage": "Token inválido ou ausente. Faça login para continuar."
                      },
                      "error": {
                        "code": "invalid_token",
                        "message": "Invalid or expired token, or missing Authorization header.",
                        "request_id": "gru1::iad1::v9x4k-1751476800000-abc123",
                        "docs_url": "https://depixapp.com/docs/en/#errors"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "The API key lacks the `merchant_read` scope required by this operation. May also be `account_blocked`, or an operation-specific 403 — see the error catalog.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "insufficient_scope": {
                    "value": {
                      "response": {
                        "errorMessage": "Esta API key não tem permissão para esta operação."
                      },
                      "error": {
                        "code": "insufficient_scope",
                        "message": "This API key does not have the scope required for this operation.",
                        "request_id": "gru1::iad1::v9x4k-1751476800000-abc123",
                        "docs_url": "https://depixapp.com/docs/en/#errors",
                        "details": {
                          "required_scope": "merchant_read"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Checkout not found — includes rows owned by another account (ownership is never disclosed).",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "not_found": {
                    "value": {
                      "response": {
                        "errorMessage": "Checkout não encontrado."
                      },
                      "error": {
                        "code": "not_found",
                        "message": "Resource not found.",
                        "request_id": "gru1::iad1::v9x4k-1751476800000-abc123",
                        "docs_url": "https://depixapp.com/docs/en/#errors"
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. Even without an endpoint-specific limit, API-key calls are bounded by the shared per-merchant budget (`merchant_rate_limited`, default 30 req/min across all endpoints) and by the key's own rate limit when configured (`rate_limited`). Retry after `retry_after` seconds (also in the Retry-After header).",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              },
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "merchant_rate_limited": {
                    "value": {
                      "response": {
                        "errorMessage": "Rate limit do merchant excedido."
                      },
                      "error": {
                        "code": "merchant_rate_limited",
                        "message": "Merchant rate limit exceeded.",
                        "request_id": "gru1::iad1::v9x4k-1751476800000-abc123",
                        "retry_after": 22,
                        "docs_url": "https://depixapp.com/docs/en/#errors"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/checkouts/{id}/simulate-payment": {
      "post": {
        "tags": [
          "checkouts"
        ],
        "summary": "Simulate payment (sandbox only)",
        "description": "Completes a SANDBOX checkout as if it were paid (fires checkout.completed when a callback URL is set). Live checkouts are 403 sandbox_only. Requires scope `merchant_write` on the API-key path.",
        "x-required-scope": "merchant_write",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Sandbox checkout id (chk_*).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Simulated as paid.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "examples": {
                  "ok": {
                    "value": {
                      "success": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid credentials. `invalid_api_key` for a failed sk_* lookup (revoked/expired/unknown); `invalid_token` for a bad or missing JWT/Authorization header.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "invalid_api_key": {
                    "value": {
                      "response": {
                        "errorMessage": "API key inválida, revogada ou expirada."
                      },
                      "error": {
                        "code": "invalid_api_key",
                        "message": "Invalid, revoked or expired API key.",
                        "request_id": "gru1::iad1::v9x4k-1751476800000-abc123",
                        "docs_url": "https://depixapp.com/docs/en/#errors"
                      }
                    }
                  },
                  "invalid_token": {
                    "value": {
                      "response": {
                        "errorMessage": "Token inválido ou ausente. Faça login para continuar."
                      },
                      "error": {
                        "code": "invalid_token",
                        "message": "Invalid or expired token, or missing Authorization header.",
                        "request_id": "gru1::iad1::v9x4k-1751476800000-abc123",
                        "docs_url": "https://depixapp.com/docs/en/#errors"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Live checkout (sandbox_only), missing scope, or no merchant profile.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "sandbox_only": {
                    "value": {
                      "response": {
                        "errorMessage": "Simulação disponível apenas para checkouts de teste."
                      },
                      "error": {
                        "code": "sandbox_only",
                        "message": "This operation is only available on sandbox (test mode) resources.",
                        "request_id": "gru1::iad1::v9x4k-1751476800000-abc123",
                        "docs_url": "https://depixapp.com/docs/en/#errors"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Checkout not found — includes rows owned by another account (ownership is never disclosed).",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "not_found": {
                    "value": {
                      "response": {
                        "errorMessage": "Checkout não encontrado."
                      },
                      "error": {
                        "code": "not_found",
                        "message": "Resource not found.",
                        "request_id": "gru1::iad1::v9x4k-1751476800000-abc123",
                        "docs_url": "https://depixapp.com/docs/en/#errors"
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "The checkout cannot transition to completed from its current status.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "conflict": {
                    "value": {
                      "response": {
                        "errorMessage": "Checkout não pode ser concluído no status atual."
                      },
                      "error": {
                        "code": "conflict",
                        "message": "The request conflicts with the current state of the resource.",
                        "request_id": "gru1::iad1::v9x4k-1751476800000-abc123",
                        "docs_url": "https://depixapp.com/docs/en/#errors"
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. Even without an endpoint-specific limit, API-key calls are bounded by the shared per-merchant budget (`merchant_rate_limited`, default 30 req/min across all endpoints) and by the key's own rate limit when configured (`rate_limited`). Retry after `retry_after` seconds (also in the Retry-After header).",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              },
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "merchant_rate_limited": {
                    "value": {
                      "response": {
                        "errorMessage": "Rate limit do merchant excedido."
                      },
                      "error": {
                        "code": "merchant_rate_limited",
                        "message": "Merchant rate limit exceeded.",
                        "request_id": "gru1::iad1::v9x4k-1751476800000-abc123",
                        "retry_after": 22,
                        "docs_url": "https://depixapp.com/docs/en/#errors"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/me": {
      "get": {
        "tags": [
          "checkouts"
        ],
        "summary": "Identify the authenticated merchant",
        "description": "Probe endpoint: returns the merchant behind the credentials. 404 (not 403) when the account has no merchant profile — integrators use that to tell \"valid key, no merchant yet\" apart. Requires scope `merchant_read` on the API-key path.",
        "x-required-scope": "merchant_read",
        "responses": {
          "200": {
            "description": "Merchant identity.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeResponse"
                },
                "examples": {
                  "me": {
                    "value": {
                      "merchant_id": "mrc_1",
                      "name": "Loja Teste",
                      "username": "owner",
                      "merchant_slug": "loja-teste",
                      "is_live": false,
                      "created_at": "2026-01-01 00:00:00"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid credentials. `invalid_api_key` for a failed sk_* lookup (revoked/expired/unknown); `invalid_token` for a bad or missing JWT/Authorization header.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "invalid_api_key": {
                    "value": {
                      "response": {
                        "errorMessage": "API key inválida, revogada ou expirada."
                      },
                      "error": {
                        "code": "invalid_api_key",
                        "message": "Invalid, revoked or expired API key.",
                        "request_id": "gru1::iad1::v9x4k-1751476800000-abc123",
                        "docs_url": "https://depixapp.com/docs/en/#errors"
                      }
                    }
                  },
                  "invalid_token": {
                    "value": {
                      "response": {
                        "errorMessage": "Token inválido ou ausente. Faça login para continuar."
                      },
                      "error": {
                        "code": "invalid_token",
                        "message": "Invalid or expired token, or missing Authorization header.",
                        "request_id": "gru1::iad1::v9x4k-1751476800000-abc123",
                        "docs_url": "https://depixapp.com/docs/en/#errors"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "The API key lacks the `merchant_read` scope required by this operation. May also be `account_blocked`, or an operation-specific 403 — see the error catalog.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "insufficient_scope": {
                    "value": {
                      "response": {
                        "errorMessage": "Esta API key não tem permissão para esta operação."
                      },
                      "error": {
                        "code": "insufficient_scope",
                        "message": "This API key does not have the scope required for this operation.",
                        "request_id": "gru1::iad1::v9x4k-1751476800000-abc123",
                        "docs_url": "https://depixapp.com/docs/en/#errors",
                        "details": {
                          "required_scope": "merchant_read"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Valid credentials but no merchant profile yet.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "not_found": {
                    "value": {
                      "response": {
                        "errorMessage": "Conta de lojista não encontrada."
                      },
                      "error": {
                        "code": "not_found",
                        "message": "Resource not found.",
                        "request_id": "gru1::iad1::v9x4k-1751476800000-abc123",
                        "docs_url": "https://depixapp.com/docs/en/#errors"
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. Even without an endpoint-specific limit, API-key calls are bounded by the shared per-merchant budget (`merchant_rate_limited`, default 30 req/min across all endpoints) and by the key's own rate limit when configured (`rate_limited`). Retry after `retry_after` seconds (also in the Retry-After header).",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              },
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "merchant_rate_limited": {
                    "value": {
                      "response": {
                        "errorMessage": "Rate limit do merchant excedido."
                      },
                      "error": {
                        "code": "merchant_rate_limited",
                        "message": "Merchant rate limit exceeded.",
                        "request_id": "gru1::iad1::v9x4k-1751476800000-abc123",
                        "retry_after": 22,
                        "docs_url": "https://depixapp.com/docs/en/#errors"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/merchants/me": {
      "patch": {
        "tags": [
          "merchant"
        ],
        "summary": "Update the merchant's light profile fields",
        "description": "Partial update of the authenticated merchant's LIGHT profile fields (spec §5.6, roadmap decision 14): business_name, website, logo_url, default_callback_url, default_redirect_url. Requires scope `merchant_write` on the API-key path. liquid_address, cnpj and password are owner-only and rejected with 400 validation_error (details.field names the offending field); split_address is never editable here. Read the current profile via GET /api/me. Every PATCH authenticated by an API key emails the account owner naming the changed fields and the key id (compensating control, gate G11).",
        "x-required-scope": "merchant_write",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MerchantUpdateRequest"
              },
              "examples": {
                "redirect": {
                  "value": {
                    "default_redirect_url": "https://shop.example.com/thanks"
                  }
                },
                "rename": {
                  "value": {
                    "business_name": "Nova Loja"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MerchantUpdateResponse"
                },
                "examples": {
                  "ok": {
                    "value": {
                      "success": true,
                      "merchant_slug": "nova-loja"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid field value, empty update, or an owner-only field (liquid_address/cnpj/password) sent on the API-key path — `details.field` names it.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "owner_only": {
                    "value": {
                      "response": {
                        "errorMessage": "Este campo só pode ser alterado pelo dono da conta no painel web."
                      },
                      "error": {
                        "code": "validation_error",
                        "message": "Invalid request. Check the fields and try again.",
                        "request_id": "gru1::iad1::v9x4k-1751476800000-abc123",
                        "docs_url": "https://depixapp.com/docs/en/#errors",
                        "details": {
                          "field": "liquid_address"
                        }
                      }
                    }
                  },
                  "empty": {
                    "value": {
                      "response": {
                        "errorMessage": "Nenhum campo para atualizar."
                      },
                      "error": {
                        "code": "validation_error",
                        "message": "Invalid request. Check the fields and try again.",
                        "request_id": "gru1::iad1::v9x4k-1751476800000-abc123",
                        "docs_url": "https://depixapp.com/docs/en/#errors"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid credentials. `invalid_api_key` for a failed sk_* lookup (revoked/expired/unknown); `invalid_token` for a bad or missing JWT/Authorization header.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "invalid_api_key": {
                    "value": {
                      "response": {
                        "errorMessage": "API key inválida, revogada ou expirada."
                      },
                      "error": {
                        "code": "invalid_api_key",
                        "message": "Invalid, revoked or expired API key.",
                        "request_id": "gru1::iad1::v9x4k-1751476800000-abc123",
                        "docs_url": "https://depixapp.com/docs/en/#errors"
                      }
                    }
                  },
                  "invalid_token": {
                    "value": {
                      "response": {
                        "errorMessage": "Token inválido ou ausente. Faça login para continuar."
                      },
                      "error": {
                        "code": "invalid_token",
                        "message": "Invalid or expired token, or missing Authorization header.",
                        "request_id": "gru1::iad1::v9x4k-1751476800000-abc123",
                        "docs_url": "https://depixapp.com/docs/en/#errors"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "The API key lacks the `merchant_write` scope required by this operation. May also be `account_blocked`, or an operation-specific 403 — see the error catalog.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "insufficient_scope": {
                    "value": {
                      "response": {
                        "errorMessage": "Esta API key não tem permissão para esta operação."
                      },
                      "error": {
                        "code": "insufficient_scope",
                        "message": "This API key does not have the scope required for this operation.",
                        "request_id": "gru1::iad1::v9x4k-1751476800000-abc123",
                        "docs_url": "https://depixapp.com/docs/en/#errors",
                        "details": {
                          "required_scope": "merchant_write"
[...]
